<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    {% if data %}


    <div class="card" style="width:500px;height:300px;overflow: auto;">
        <div class="card-header" style="justify-content:space-between">
        <button onclick="downloadtable()" class="btn btn-primary">Download</button>
        </div>
        <div class="card-body" id="table">
        <p class="card-text">
                    <div class="py-6 px-6 lg:px-8">
                        <table class="table table-success table-striped">
                            <thead>
                                <tr>
                                  <th scope="col">Title</th>
                                  <th scope="col">Description</th>
                                  <th scope="col">thematic</th>
                                  <th scope="col">Copies requested</th>
                                  <th scope="col">Date Requested</th>
    
                                
                                </tr>
                              </thead>
                             
                              <tbody>
                                {% for data in data %}
                                <tr>
                                  <th scope="row">{{data.title}}</th>
                                  <td>{{data.description}}</td>
                                  <td>{{data.thematic}}</td>
                                  <td>{{data.copies_requested}}</td>
                                  <td>{{data.dates}}</td>
                                
                        
                                </tr>
                                {% endfor %}
                              </tbody>
                            
                        </table>
                    </div>                                                       
         
            </div>
        </p>
    
        
    </div>
    </div>
    {% else %}
    <div style="border-radius:300px;">
    <h1><b>No name selected yet</b></h1>
    </div>
    {% endif %}

    <script>
        function downloadtable(){
            const element=document.getElementById('table');
            html2pdf().from(element).save();
        }
    </script>
</body>
</html>



